[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
pandas = "*"
numpy = "*"
xlsxwriter = "*"
tensorflow = "*"
pandas-datareader = "*"
matplotlib = "*"
mplfinance = "*"
arff = "*"
sklearn = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.9"
